<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Shop Info</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: LINE CHART -->
<div class="container-fluid container-fullw bg-white" ng-controller="shopInfoCtrl">
    <div class="user-create-btn" style="float: right">
        <button type="button" class="btn btn-primary" ng-click="openAside('right', 'Create')">create</button>
    </div>
    <br>
    <br>
    <br>
    <!-- table -->
    <div class="row">
        <div class="table-responsive">
             <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="fa fa-pencil" ng-click="openAside('right', 'Update')"></span>
                            &nbsp
                            <span class="fa fa-trash"></span>
                        </td>
                    </tr>
                </tbody>
             </table>
        </div>
    </div>

    <!-- Aside form -->
    <script type="text/ng-template" id="asideContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{actionMethod}} Shop</h3>
        </div>
        <div class="modal-body">
            <form action="" method="POST" role="form">
                <!-- Shop info -->
                <fieldset>
                    <legend>Shop Info</legend>

					<div class="form-group">
					   <label for="">Name</label>
					   <input type="text" class="form-control" id="" placeholder="Enter shop name">
					</div>

					<div class="form-group">
						<lable>Category</lable> <br><br>
						<div class="checkbox clip-check check-primary checkbox-inline" ng-repeat="category in categories">
							<input type="checkbox" id="checkbox-category-{{category.value}}" value="{{category.value}}">
							<label for="checkbox-category-{{category.value}}">
								{{category.name}}
							</label>
						</div>
					</div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                               <label for="">Email</label>
                               <input type="text" class="form-control" id="" placeholder="Enter shop email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                               <label for="">Mobile</label>
                               <input type="text" class="form-control" id="" placeholder="Enter shop mobile">
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-6">
                            <div class="form-group">
                               <label for="">Landline</label>
                               <input type="text" class="form-control" id="" placeholder="Enter shop landline">
                            </div>
                        </div>
						<div class="col-md-6">
                            <div class="form-group">
                               <label for="">License No</label>
                               <input type="text" class="form-control" id=""  placeholder="Enter shop license number">
                            </div>
                        </div>
					</div>
					<div class="form-group">
					   <label for="">Images</label>
					   <input type="file" class="form-control" id="">
					</div>
                </fieldset>
				<!-- Owner info -->
				<fieldset>
                    <legend>Owner Info</legend>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
                               <label for="">Name</label>
                               <input type="text" class="form-control" id="" placeholder="Enter owner name">
                            </div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
                               <label for="">Email</label>
                               <input type="text" class="form-control" id="" placeholder="Enter owner email">
                            </div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
                               <label for="">Mobile</label>
                               <input type="text" class="form-control" id="" placeholder="Enter owner mobile">
                            </div>
						</div>
					</div>
				</fieldset>
				<!-- Address -->
				<fieldset>
					<legend>Address</legend>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
                               <label for="">Shop No</label>
                               <input type="text" class="form-control" id=""  placeholder="Shop No">
                            </div>
						</div>
						<div class="col-md-10">
							<div class="form-group">
                               <label for="">Street</label>
                               <input type="text" class="form-control" id="" placeholder="Street">
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
                               <label for="">Area</label>
                               <input type="text" class="form-control" id="" placeholder="Area">
                            </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
                               <label for="">City</label>
                               <input type="text" class="form-control" id="" placeholder="City">
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
                               <label for="">Country</label>
                               <input type="text" class="form-control" id="" placeholder="Country">
                            </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
                               <label for="">Pincode</label>
                               <input type="text" class="form-control" id=""  placeholder="Pincode">
                            </div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Other Info</legend>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="block">
									Working Hours
								</label>
								<div class="clip-radio radio-primary">
									<input type="radio" id="12-hrs" name="working_hrs" value="12" checked="checked">
									<label for="12-hrs">
										12 Hrs
									</label>
									<input type="radio" id="24-hrs" name="working_hrs" value="24">
									<label for="24-hrs">
										24 Hrs
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<lable>Working Days</lable>
								<div class="checkbox clip-check check-primary" ng-repeat="day in days">
									<input type="checkbox" id="checkbox-working_days-{{day.value}}" value="{{day.value}}">
									<label for="checkbox-working_days-{{day.value}}">
										{{day.day}}
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="block">
									Credit/Debit Accept
								</label>
								<div class="clip-radio radio-primary">
									<input type="radio" id="card-yes" name="card_accept" value="1"  checked="checked">
									<label for="card-yes">
										Yes
									</label>
									<input type="radio" id="card-no" name="card_accept" value="0">
									<label for="card-no">
										No
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="form-field-mask-3">
											Shop Opening Time
										</label>
										<div class="input-group">
											<input type="text" class="form-control" name="masked" placeholder="HH:MM">
											<span class="input-group-addon"> AM</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="form-field-mask-3">
											Shop Closing Time
										</label>
										<div class="input-group">
											<input type="text" class="form-control" name="masked" placeholder="HH:MM">
											<span class="input-group-addon"> PM</i> </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<lable>Puncture available for Vehicles</lable> <br><br>
						<div class="checkbox clip-check check-primary checkbox-inline" ng-repeat="vehicle in vehicles">
							<input type="checkbox" id="checkbox-puncture-{{vehicle.value}}" value="{{vehicle.value}}">
							<label for="checkbox-puncture-{{vehicle.value}}">
								{{vehicle.name}}
							</label>
						</div>
					</div>

					<div class="form-group">
						<lable>Mechanic available for Vehicles</lable> <br><br>
						<div class="checkbox clip-check check-primary checkbox-inline" ng-repeat="vehicle in vehicles">
							<input type="checkbox" id="checkbox-mechanic-{{vehicle.value}}" value="{{vehicle.value}}">
							<label for="checkbox-mechanic-{{vehicle.value}}">
								{{vehicle.name}}
							</label>
						</div>
					</div>

					<div class="form-group">
					   <label for="">Minimum Radius</label>
					   <input type="text" class="form-control" id="" placeholder="Kilometer">
					</div>

				</fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok($event)">OK</button>
            <button class="btn btn-primary" ng-click="cancel($event)">Cancel</button>
        </div>
    </script>

</div>
