<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">User</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: LINE CHART -->
<div class="container-fluid container-fullw bg-white" ng-controller="usersCtrl">
    <div class="user-create-btn" style="float: right">
        <button type="button" class="btn btn-primary" ng-click="openAside('right', 'Create')">create</button>
    </div>
    <br>
    <br>
    <br>
    <!-- table -->
    <div class="row">
        <div class="table-responsive">
             <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{$index+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.userRole}}</td>
                        <td>{{user.status}}</td>
                        <td>
                            <span class="fa fa-pencil" ng-click="openAside('right', 'Update')"></span>
                            &nbsp
                            <span class="fa fa-trash"></span>
                        </td>
                    </tr>
                </tbody>
             </table>
        </div>
    </div>

    <!-- Aside form -->
    <script type="text/ng-template" id="asideContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{actionMethod}} User</h3>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="alert alert-{{alertType}}" ng-show="showMessage">
                    <strong>{{message}}</strong>
                </div>

                 <div class="form-group">
                    <label for="usr-name">Name</label>
                    <input type="text" class="form-control" id="usr-name" placeholder="Enter your name" ng-model="user.name">
                 </div>

                 <div class="form-group">
                    <label for="usr-email">Email</label>
                    <input type="text" class="form-control" id="usr-email" placeholder="Enter your email" ng-model="user.email">
                 </div>

                 <div class="form-group">
                    <label for="usr-pwd">Password</label>
                    <input type="text" class="form-control" id="usr-pwd" placeholder="Enter your password" ng-model="user.password">
                 </div>

                 <div class="form-group">
                    <label for="usr-cfm_pwd">Confirm Password</label>
                    <input type="text" class="form-control" id="usr-cfm_pwd" placeholder="Re Enter your password" ng-model="user.confirm_password">
                 </div>

                 <div class="form-group">
                    <label for="">User Role</label>
                    <select class="form-control" name="user_role" id="usr-role" ng-model="user.user_role">
                        <option value="">Select user role</option>
                        <option value="1">Admin</option>
                        <option value="2">Others</option>
                    </select>
                 </div>

                 <div class="form-group">
                    <label for="">Status</label>
                    <select class="form-control" name="status" id="usr-status" ng-model="user.status">
                        <option value="">Select user status</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                 </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok($event)">OK</button>
            <button class="btn btn-primary" ng-click="cancel($event)">Cancel</button>
        </div>
    </script>

</div>
